.searchbar{
    position: absolute;
    background-color: white;
    z-index: 5;
    right: 20px;
    top: 20px;
    padding: 10px;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.search-result {
    z-index: 5;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 70px;
    right: 20px;
    width: 320px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow-y: scroll;
  }
  
  .search-result li {
   
    padding: 20px;
    font-size: 18px;
    color: rgb(63, 63, 63);
    border-bottom: 1px solid rgba(149, 157, 165, 0.1) ;
  }
  
  .search-result li:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
  }